* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 7% 65% 13% 5%; 
}

#left {
  grid-area: 3 / 2 / 4 / 8; 
  z-index: 1;
  width: 100%;
}

#right {
  grid-area: 3 / 8 / 4 / 10; 
  z-index: 1;
  width: 100%;
}

#center {
  grid-area: 2 / 5 / 5 / 9;
  z-index: 0;
  width: 100%;
}

#center2 {
  grid-area: 5 / 5 / 6 / 9;
  width: 100%;
}


@media (min-width: 0px) and (max-width: 720px) {
  .container {
    grid-template-columns: 12% 28% 6% 28% 15% 16%;
    grid-template-rows: 5% 15% 50% 20% 5% 5%; 
  }

  #left {
    grid-area: 3 / 1 / 5 / 4; 
    object-position: right;
    object-fit: cover;
    height: 80%;
    width: 125%;
  }
  
  #right {
    grid-area: 3 / 5 / 4 / 7; 
    width: 82%;
    height: 110%;
    object-position: left; 
    object-fit: cover;
  }
  
  #center {
    grid-area: 2 / 2 / 5 / 6;
  }
  
  #center2 {
    grid-area: 5 / 2 / 6 / 6;
  }
}

