* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;  
}

#left {
    grid-area: 3 / 2 / 8 / 8; 
    z-index: 1;
}

#right {
    grid-area: 3 / 8 / 8 / 10; 
    z-index: 1;
}

#center {
    grid-area: 2 / 5 / 9 / 9;
    z-index: 0;
}

#center2 {
    grid-area: 9 / 5 / 11 / 9;
    z-index: 0;
}

#center img, #right img, #left img{
    width: 100%;
    height: 100%;
}
#center2 img{
    width: 100%;
}




@media (min-width: 0px) and (max-width: 560px) {
      
      #left {
        grid-area: 3 / 1 / 7 / 8; 
      }
      
      #center {
        grid-area: 2 / 2 / 8 / 12; 
      }
      
      #right {
        grid-area: 3/ 10 / 7 / 13;
        
      }
      
      #center2 {
        grid-area: 8/ 2 / 10 / 12;
      }
      
      
      #left img {
        object-fit: cover; 
        object-position: right; 
      }
      
      
      #right img {
         object-position: left; 
         object-fit: cover;
      } 
  }
  
  @media (min-width: 561px) and (max-width: 768px) {
      .container{
        margin-top: 10%;
      }
    #left {
        grid-area: 1 / 1 / 3 / 8; 
        justify-self: stretch;
        height: 80%;
    }
    
    #center {
        grid-area: 1 / 2 / 3 / 10;
        height: 97%;
    }
    
    #right {
        grid-area: 1 / 8 / 3 / 12; 
        justify-self: stretch;
        height: 80%;
    }
    
    #center2 {
        grid-area: 3 / 2 / 4 / 10; 
        transform: translateY(-8%);
    }
    
    #left img {
        transform: translateX(-2%) translateY(10%);
        object-position: right; 
        object-fit: cover; 
    }

    #right img {
        transform: translateY(10%);
    }
    
}
